:root {
    --font-size-normal: 2rem;
    --font-size-titles: 2.5rem;
    --font-size-name: 4rem;
}

.nombre { 
    padding: 10rem 4rem 0 4rem;
}

.nombre p {
    margin: 6rem 0 0 0;
}

.contact-info {
    padding: 2rem 1rem;
}

.contact-info h2 {
    margin: 0 1rem;
}

.list {
    padding: 1.8rem;
}

.list div {
    margin: 0.5rem 0;
}

.list div span {
    margin-left: 1rem;
}

.list div img {
    height: 1.8rem;
    width: 1.8rem;
}

.experience {
    height: 50%;
}

.titles-e {
    top: 4rem;
    right: 2rem;
    height: 5rem;
    padding-right: 5rem;
}

.academy {
    padding: 10rem 0 0 2rem;
}

.complementary {
    padding: 10rem 0 0 3rem;
}

.titles-f {
    right: 2rem;
    height: 5rem;
    padding-right: 5rem;
}

.titles-f img {
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}
